<div class="container">
    <div>
        <h2>Modifier un vetement :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID </label>
            <input type="text" [(ngModel)]="currentvetements.idVetemnt" name="idVetemnt" class="form-control"
                readonly>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom de marque </label>
            <input type="text" [(ngModel)]="currentvetements.nomVetement" name="nomVetement" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix</label> <input type="number" [(ngModel)]="currentvetements.prixVetement"
                name="prixProduit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label> <input type="date" [(ngModel)]="currentvetements.dateVetement"
                name="dateVetement" class="form-control">
        </div>
            <div class="col-sm-4 col-md-4 col-lg-4"> Type 
            <select class="form-control form-control-lg" id="idType" name="idType"
                [(ngModel)]="updatedCatId">
                <option *ngFor="let cat of Type" [value]="cat.idType"> {{cat.nomType}} </option>
            </select> </div> 
        <div class="mt-2"> <button type="submit" (click)="updatevetements()" class="btn btn-success"
                routerLink="/vetements">Modifier</button>
        </div>
    </form>
</div>