<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Prix</th>
              <th>Date Création</th>
              <th>Type Vetements</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vet of vetements">
              <td>{{ vet.idVetemnt }}</td>
              <td>{{ vet.nomVetement }}</td>
              <td>{{ vet.prixVetement }}</td>
              <td>{{ vet.dateVetement | date: 'dd/MM/yyyy' }}</td>
              <td>{{ vet.type?.nomType || 'No Type Available' }}</td>
              <td>
                <a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimervetements(vet)">
                  Supprimer
                </a>
                <a *ngIf="authService.isAdmin() || authService.isAgent()" class="btn btn-success" [routerLink]="['/updatevetements', vet.idvetements]">
                  Modifier
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  